azure-ai-ml
azure-identity
azure-storage-blob
coverage
docker
neural-compressor
onnxconverter_common
onnxruntime-extensions
openvino
openvino-dev
psutil
pytorch_lightning
torchvision
datasets
azureml-evaluate-mlflow
mlflow
