azure-ai-ml
azure-identity
azure-storage-blob
coverage
docker
neural-compressor
onnxconverter_common
onnxruntime-extensions
openvino==2022.3.0
openvino-dev==2022.3.0
pandas
plotly
psutil
pytorch_lightning
torchvision
datasets
# pip dependency resolver is stuck if we don't specify the version
azureml-evaluate-mlflow==0.0.12
# test breaks with newer version
mlflow==2.3.2
evaluate
