accelerate
azure-ai-ml
azure-identity
azure-storage-blob
azureml-evaluate-mlflow==0.0.25
azureml-fsspec
coverage
datasets
docker
evaluate
mlflow===2.7.1
neural-compressor
onnxconverter_common
onnxruntime-extensions
openvino==2022.3.0
openvino-dev==2022.3.0
optimum
pandas
peft
plotly
protobuf==3.20.3
psutil
pytorch_lightning
sentencepiece
tabulate
torchvision
