[run]
omit =
    olive/logging.py
    olive/passes/pytorch/pytorch_lightning_utils.py
    olive/passes/pytorch/qat_utils.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    class .*\bConfig\):
    @(abc\.)?abstractmethod
    @(abc\.)?staticmethod

exclude_also =
    if TYPE_CHECKING:
