repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
      - id: requirements-txt-fixer
  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
  - repo: local
    hooks:
      - id: format-json
        name: Format JSON
        language: python
        entry: python scripts/format_json.py
        files: \.(json)$
        args: [
          '--indent=4',
          '--max-line-length=120'
        ]
