repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
      - id: requirements-txt-fixer

  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        name: Format code
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: Format imports
  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
        exclude: examples/directml/llm/chat_app/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.5
    hooks:
      - id: ruff
        args: [ --fix ]
  - repo: local
    hooks:
      - id: format-json
        name: FORMAT-JSON
        language: python
        entry: python scripts/format_json.py
        files: \.(json)$
        args: [
          '--indent=4',
          '--max-line-length=120'
        ]
