include olive/extra_dependencies.json
include olive/snpe/create_python36_env.sh
include olive/snpe/copy_libcdsprpc.ps1
include olive/systems/docker/Dockerfile
include olive/auto_optimizer/config_template/*.yaml
recursive-include olive/engine/packaging *
global-exclude *.py[cod]
