
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/ORT-Nightly/pypi/simple/
gradio==3.42.0 # Gradio 3.47 breaks the UI and versions between 3.42 and 3.47 haven't been tested
markdown
mdtex2html
optimum
ort-nightly-directml==1.16.0.dev20230915012
Pygments
tabulate
torch
