azure-ai-ml
azure-identity
datasets
docker>=7.1.0
evaluate
neural-compressor
optimum
scikit-learn
scipy
tabulate
# 4.46.0 is broken https://github.com/huggingface/transformers/issues/34370
# TODO(anyone): remove when the issue is fixed or CI migrates to python 3.9
transformers<4.46.0
