azure-ai-ml
azure-identity
datasets
evaluate
docker
onnxruntime
neural-compressor
scipy
scikit-learn
transformers
mlflow
# newest version mlflow-skinny==2.4.0 is not compatible with the test
# issue: https://github.com/mlflow/mlflow/issues/8629
mlflow-skinny==2.3.2
