accelerate
einops
onnx>=1.15.0
onnxruntime-genai
onnxscript>=0.1.0.dev20240126
scikit-learn
torch>=2.2.0
# onnxruntime-genai 0.5.2 is not compatible with 4.48.0
# need to wait it pick up commit
# https://github.com/microsoft/onnxruntime-genai/commit/c61aaa6b2349b39ca63509914b4c02105b462a4a
transformers>=4.36.2, <4.48.0
