tensorflow==2.3.1
onnxmltools

coremltools
sklearn
pandas
keras==2.2.4

# https://cntk.ai/PythonWheel/CPU-Only/cntk-2.6-cp36-cp36m-linux_x86_64.whl
cntk
numpy==1.18.0

torch
torchvision

# xgboost==0.81
# lightgbm==2.2.3
tf2onnx
onnxruntime