tensorflow==1.15.2
onnxmltools

coremltools
sklearn
pandas
keras

https://cntk.ai/PythonWheel/CPU-Only/cntk-2.6-cp36-cp36m-linux_x86_64.whl
mxnet==1.4.0
numpy==1.16.0

torch==1.0.1
torchvision==0.2.1

xgboost==0.81
lightgbm==2.2.3
tf2onnx
onnxruntime