# we use v1 API so need autodoc_pydantic<2.0.0
# will also install pydantic<2.0.0
autodoc_pydantic<2.0.0
azure-ai-ml>=1.11.1
azure-identity
azureml-fsspec
docker
# latest 3.24.0 will break the pipeline
# TODO(team): 55399 Switch back to the latest version once it's compatible with the pipeline
marshmallow<3.24.0
myst_parser
onnxconverter_common
psutil
pydata_sphinx_theme
pytorch_lightning
sphinx>=6.1.3
sphinx-argparse
sphinx-copybutton
sphinx-tabs
sphinx_design
sphinxcontrib-jquery
sphinxcontrib-mermaid
